@media(max-width: 414px){
    
    .mainPageBlock{
        display: flex; 
        flex-direction: column; 
        width: 100%; 
        height: 100%;
        font-family: 'EB Garamond';
        font-weight: 500;
    }
    
    .header{
        display: none;
        height: 0%; 
        width: 0%;
    }
    
    #div_menu{
        display: none;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        transition: 0.8s ease-in-out;

        li{
            font-size: 20px;
            align-self: center;
        }
    
    }
/* 
    #ol_list{
        display: none;
    } */


    
    #div_bar{
        display: none;
    }
    
    #arrow{
        display: flex;
        margin-top: 1rem;
    }
    
    
    #logoStyle{
        display: none;
    }

    
    .header{
        ul{
            padding-top: 7rem;
        }
    
        li{
            list-style-type: none;
        }
    }
    
    #designBlockMainPage{
        width: 100%; 
        height: 25%;
        background-color: rgba(217, 217, 217, 1); 
        display: flex; 
        justify-content: center; 
        align-items: center;
        align-content: center;
        cursor: pointer;
        transition: 0.8s;
    
        img{
            height: 23rem;
            transform: rotate(90deg);
            position: relative;
        }

        p{
            font-family: 'EB Garamond';
            font-weight: 500;
            font-size: 5vw;
            z-index: 10;
            position: absolute;
            color: rgba(246, 255, 0, 1);
        }

    }
    
    #cultureBlockMainPage{
        width: 100%;
        height: 25%;
        background-color: rgba(255, 255, 255, 1); 
        display: flex; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
    
        img{
            height: 23rem;
            transform: rotate(90deg);
            position: relative;
        }

        p{
            font-family: 'EB Garamond';
            font-weight: 500;
            font-size: 5vw;
            z-index: 10;
            position: absolute;
            color: rgba(246, 255, 0, 1);
            margin-left: -0.7rem;
        }
    }
    
    
    #architectureBlockMainPage{
        width: 100%; 
        height: 25%;
        background-color: rgba(217, 217, 217, 1); 
        display: flex; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
    
        img{
            height: 23rem;
            transform: rotate(90deg);
            position: relative;
        }

        p{
            font-family: 'EB Garamond';
            font-weight: 500;
            font-size: 5vw;
            z-index: 10;
            position: absolute;
            color: rgba(246, 255, 0, 1);
            margin-left: -0.7rem;
        }
    }
    
    #artsBlockMainPage{
        width: 100%; 
        height: 25%;
        background-color: rgba(255, 255, 255, 1); 
        display: flex; 
        justify-content: center; 
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
    
        img{
            height: 23rem;
            transform: rotate(90deg);
            position: relative;
        }

        p{
            font-family: 'EB Garamond';
            font-weight: 500;
            font-size: 5vw;
            z-index: 10;
            position: absolute;
            color: rgba(246, 255, 0, 1);
            margin-left: -0.1rem;
        }
    }

#headerMobile{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(170, 151, 74, 1);
    font-size: 5vw;

    ul{
        width: 12rem;
        margin-left: -5%;
    }
}

#logoBox{
    width: 35%;
}


#ol_list{
    display: none;
}

#div_bar_phone{
    width: 0%;
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
}

#arrow_mobile{
    height: 1rem;
    transform: rotate(90deg);
    margin-top: 5rem;
}

#logoStyle_phone{
    width: 9.5rem;
    height: 10rem;
    padding: 0.5rem 0.5rem;
}

#list{
    ul, li, ol {
        font-size: 16px;
        list-style: none;
    }
}
    
}
